[2016-02-02 11:38] TomLewis opened #1 "Not working with database.db"
I have set both relative path and full path in settings, no results show on the index, no page reloads, nothing, no checks to tell me its reading it properly, I put the database.db in the same folder as the web UI, which should be ./database.db, I just cant see any results or anything at all.

[2016-02-06 22:35] chuushi commented on #1
Hello, sorry for the late reply.

I haven't made any new releases as of now.  I made the error messages appear on the table upon error in the latest commit, but I haven't included it in the latest release (v0.6.x).

Try going to [_CoreProtect Lookup page link_]/conn.php page, and copy-paste what the text is returned.  That should help us know what's causing the error.

[2016-02-06 23:37] TomLewis commented on #1
Nothing is returned from this page, it is blank.

[2016-02-06 23:39] chuushi commented on #1
It sounds like it might be the configuration error or a PHP exception the code wasn't able to catch.  Do you mind sharing your settings.php file? (with personal info redacted, of course)

[2016-02-08 07:19] chuushi commented on #1
You should try the newest release, v0.7.0-beta.  It comes with much better error handling, so that might be able to tell you what's going on.

[2016-02-08 09:36] TomLewis commented on #1
Unexpected Error 7: The lookup script was unable to send a proper response.

[2016-02-08 16:07] chuushi commented on #1
What version of PHP are you running?  If you're running anything below 5.4, try updating your PHP.  If the problem was with the database, it should return an error about database instead of this error:
    `PDO Exception: SQLSTATE[HY000] [14] unable to open database file`

[2016-02-11 04:53] chuushi commented on #1
I just found a problem in the PDO.php file.  The sqlite database file path was built-in as a string instead of as a variable.  I'll try a fix by v0.8.0.

[2016-02-16 21:40] chuushi commented on #1
The link problem should be fixed in the v0.8.  Try getting the latest release from here or from the [BukkitDev page](http://dev.bukkit.org/bukkit-plugins/coreprotect-lwi/) and take a note of the PHP version number in the bottom of the page.

If the index page doesn't load from the v0.8.0 or v0.8.1 update, then it is definitely the outdated PHP version.

[2016-02-21 10:05] chuushi commented on #1
I'll go ahead and close the issue as the problem should be fixed for most users.  Feel free to open it up again if it's still not resolved.  Thank you for reporting the issue.
~Simon

[2016-02-21 10:05] #1 closed, assigned to chuushi

[2016-07-31 20:26] ntimo opened #2 "Multiserver Support (and v0.9.0 Bug Catching Spree)"
Hi there,

it would be really awesome if I could add Multiple Server with one panel. So I can specify 2 database connections in the config and name the servers and then select the server to search trough that would be so so amazing.

Thx
Timo

[2016-07-31 23:34] chuushi commented on #2
I was thinking about that, but I haven't acted upon it yet so far.  It shouldn't be too hard to do.  I would recommend having some degree of per-server configuration system.

I'm currently rewriting parts of the code right now to make it more understandable by writing in more comments, using more standard functions, updating some packages used in the project, etc. which should be up within the nex

[2016-07-31 23:38] ntimo commented on #2
Hi,
I would try to code it myself if I could :) I hope you will add support for this soon ;)

Thx
Timo

[2016-07-31 23:40] chuushi commented on #2
Ah, gotcha.  I'll be on it soon!

[2016-07-31 23:42] ntimo commented on #2
Nice, thank you so much. For your amazing panel

[2016-07-31 23:46] chuushi commented on #2
Anytime :)

Thank you for taking your time to make an issue! :D

[2016-07-31 23:46] ntimo commented on #2
Sure, I will make another one :D

[2016-07-31 23:51] ntimo opened #3 "2 Factor Authentification"
Hi there,
I just thought wouldn't it be nice. to have 2 Factor authentication. Maybe you could store the database login data in a mysql database with the users, so you can have multi users with passwords and different login data to log into the web interface and have an option to add 2 Factor authentication too them.

Requests:
- 2 FA
- Multiusers
- Store all Settings in a DB for more scalabilty

[2016-08-01 21:50] chuushi commented on #3
I can do the Multiuser support, but I don't know about the 2 factor authorization.  What'll be the second factor?

Storing all things in a database seems like a cool idea.  I'll see what I can come up with.  Maybe I can make a server-side plugin and allow people to make a user account through it based on some permission node.

[2016-08-02 02:52] JoeNorth commented on #3
@SimonOrJ I would use something like Authy for the 2fa. It's easy to integrate and has great (and free) browser and phone apps.

[2016-08-02 07:47] ntimo commented on #3
@JoeNorth Okay but is authey compatible with the normal 2Fa codes that lets say the google authentificator generates? Because if not it would be useless. Because no one would like to be forced to use this one app for only this one site. When they have all their other 2FA tokens some where else.

[2016-08-02 07:51] ntimo commented on #3
You could maybe use something like this:
https://github.com/antonioribeiro/google2fa

[2016-08-03 02:16] JoeNorth commented on #3
@ntimo Generally you'd use Authy to also manage all your google 2fa tokens by scanning in the QR codes. I'd assume you can also use Authy QR codes in the google auth app.

[2016-08-04 18:55] ntimo commented on #2
@SimonOrJ do you have any news about your v0.9.0 milestone ;)

[2016-08-05 02:45] chuushi commented on #2
I've been busy with life chaos... Sorry about the delay! ._.

I'll make sure to get it done before Saturday. I'm so sorry about that.

[2016-08-05 06:06] chuushi commented on #2
As for the update, I've been replacing the variables in `conn.php` so far.  I plan on fixing the `index.php` URL updating and an option to do an in-browser (re)configuration before I release v0.9.0. :)

[2016-08-07 08:54] ntimo opened #4 "Error on lookup"
Hi,
I just updated to the new version and everytime I now make lookup I get this error:
Unexpected Error 7: The lookup script was unable to send a proper response.

Please note: I replaced some thinks with xxxxxxxxxxx

This is written in the server logs:
AH01071: Got error 'PHP message: PHP Warning: require(ChromePhp.php): failed to open stream: No such file or directory in /var/www/vhosts/xxxxxxx

[2016-08-07 15:43] chuushi commented on #4
Oh shoot, I forgot to comment out https://github.com/SimonOrJ/CoreProtect-Lookup-Web-Interface/blob/master/web/conn.php#L30

[2016-08-07 15:49] chuushi commented on #4
Ok, it should be fixed.  Thanks for the issue!

[2016-08-07 15:49] #4 closed, assigned to nobody

[2016-08-08 08:33] chuushi commented on #2
I've vastly underestimated the time I can take working on this project and the amount of work to do to create a new configuration system.  It's getting pretty close to becoming done, though.

[2016-08-08 11:46] ntimo commented on #2
@SimonOrJ what exactly do you mean with its getting pretty close? Can't wait to test it out. This would be an really awesome feature!

[2016-08-10 08:51] chuushi commented on #2
Sorry, I lied by saying "pretty close".  I'm sorry to keep you waiting by pushing the Milestone deadline three times!  The version v0.9.0 is definitely going to be done by Wednesday for sure.

This will use a different configuration scheme, and the best part is that this can be configured by editing the files or through the web interface!

[2016-08-10 08:57] ntimo commented on #2
@SimonOrJ Oh okay, that sounds like a nice new config system. But will it be able to handle more then one server with one interface? I am looking forward to Wednesday.

[2016-08-10 23:59] ntimo commented on #2
@SimonOrJ Hi, I just tried out the new version from the pre branch. And I always get an error when trying to add an server. And there is no option to select the server on the search page. And maybe the setup page should only be accessible after logging in.

But I also wanted to thank you, for your awesome support.

[2016-08-11 04:51] chuushi commented on #2
The server addition error was reported because the server adding part wasn't fully operational.  The software didn't use the new configuration scheme at that time, but it does now!

The login is disabled system wide for now, though.
6764fb0359a053e7c827fe2936459ec35ef48dcf

Edit: Figured out the whole login thing. I made it mine now, and it works well. Mwahaha!

[2016-08-11 09:01] chuushi commented on #2
The multi-server read/cache support is basically complete! :D

Now all that needs to be done is deleting cache by server button and upgrading the JS support. The dynmap support is busted as it stands now...

[2016-08-11 10:28] ntimo commented on #2
@SimonOrJ when I try to login and then open the setup.php I get: Warning:

[code]

And what is this BanManger? :O Thats in the top Menu bar.

[2016-08-11 11:50] ntimo commented on #2
@SimonOrJ after manually adding the server config files. I get an error when trying to search for something in the database

`E  Unexpected Error 7: The lookup script was unable to send a proper response.`

[2016-08-11 16:47] chuushi commented on #2
Oh, that's a test navigation.  Banmanager's a separate Minecraft plugin.

I'll look into the database error.

[2016-08-11 17:05] ntimo commented on #2
@SimonOrJ Hi, now the  setup.php works nice thank you :) I hope that the lookup will work soon too :)

Also nice work ;)

[2016-08-11 17:23] chuushi commented on #2
I think I found the problem to the error.  Does it work now?

Also, thank you for supporting the project! :D

[2016-08-11 20:59] ntimo commented on #2
@SimonOrJ now I get this on the setup.php when trying to add a new server:

`Fatal error: Uncaught Error: Class 'ChromePhp' not found in /var/www/vhosts/xxxxxx/xxxxxxx/setup.php:95 Stack trace: #0 {main} thrown in /var/www/vhosts/xxxxxx/xxxxxxx/setup.php on line 95`

[2016-08-11 21:04] ntimo commented on #2
@SimonOrJ okay when using the load more button I get:

`E  Unexpected Error 5: Server variable does not exist.`

[2016-08-11 21:06] ntimo commented on #2
@SimonOrJ also the username and blocks prediction does not work :(

[2016-08-11 21:08] ntimo commented on #2
@SimonOrJ also when searching for a block like minecraft:dirt I get the error:

`E  Unexpected Error 7: The lookup script was unable to send a proper response.`

[2016-08-12 00:38] chuushi commented on #2
The "Load More" doesn't work yet; it's still being worked on.

~~The username and block predictions will only work for the blocks that were searched before.~~
EDIT: Actually, this code needed some updating.

I've just fixed the first two problems. I'll commit it now. :)

[2016-08-12 05:40] ntimo commented on #2
Now when I try to search (blocks and username) it says: Server is not defined.

The setup page works now but does not redirects you after adding a server.

[2016-08-12 06:27] chuushi commented on #2
Hmm, yeah, more work needs to be done.  I'm working on the JavaScript to fix the server undefined issue right now.

The setup page is in the lower priority since it can be configured directly from the source files.

[2016-08-13 09:04] ntimo commented on #2
Hi, do you have any news for the JavaScript fix?

[2016-08-13 09:28] ntimo commented on #2
@SimonOrJ Now I get please submit a lookup when trying to look something up :( And this error ate the end of the page

`Fatal error: Uncaught Error: Call to undefined method Login::username() in /var/www/vhosts/xxxxxx/xxxxxxx/index.php:271 Stack trace: #0 {main} thrown in /var/www/vhosts/xxxxxx/xxxxxxx/index.php on line 271`

[2016-08-13 22:48] chuushi commented on #2
I finally got some sort of a fix complete and committed.

[2016-08-13 22:57] ntimo commented on #2
Hi, I still get the error: E    Unexpected Error 7: The lookup script was unable to send a proper response. When I try to look something up.

[2016-08-13 23:39] chuushi commented on #2
Huh, that's weird.  What do you get when you go into `web/conn.php` from the browser?  It should be in this format:

[code]

If there's an error, the array of results doesn't get returned, or the top of the document will have `<br/>` and some PHP error report.

You can redact the "array containing results" if it works successfully.

[2016-08-14 06:56] ntimo commented on #2
I get this:
`[{"status":5,"reason":"Server variable does not exist.","duration":0.00054001808166504}]`

[2016-08-14 12:04] chuushi commented on #2
Hmm... Try putting `?server=(whatever your server name is)` at the end of the URL.

[2016-08-14 12:25] ntimo commented on #2
Can I send you the login information and you can try it out?

[2016-08-14 13:24] ntimo commented on #2
I send you a e-mail to the adress that was in your github profile with the url and login information.

[2016-08-14 13:45] chuushi commented on #2
Ah, you have to redo the configuration.  There were some changes in the configuration in this commit: b3241c5d9b95238b4b037d7840e4742d69124594

For an easy solution, change the word "form" to "flag".

[2016-08-14 13:50] ntimo commented on #2
Okay, where exactly do I have to change this?

[2016-08-14 13:52] ntimo commented on #2
Okay, I found it and now it works 👍

[2016-08-14 13:55] ntimo commented on #2
It seems like I can't search for already Rolled back data

[2016-08-14 14:46] chuushi commented on #2
It should be fixed now.  It was an overlooked bug.

[2016-08-14 14:56] ntimo commented on #2
Now I get the: `E   Unexpected Error 7: The lookup script was unable to send a proper response.` Error

[2016-08-14 16:20] ntimo commented on #2
okay, now the lookup works but the search for rolled back blocks does not work :(

[2016-08-14 16:21] ntimo commented on #2
The load more button also does not work and just give out an `E`

[2016-08-15 01:40] chuushi commented on #2
Yeah, it's a caveat.

I'll look into the rollback issue.  I wasn't around my computer since 10 hours ago, so I couldn't get to anything yet.

By the way, I like to keep my developmental changelog on commit messages, so it'll be good to check out https://github.com/SimonOrJ/CoreProtect-Lookup-Web-Interface/commits/0.9.0-preview whwnever you download or `git pull` the updated files.

[2016-08-15 04:55] chuushi commented on #2
Okay, the mentioned errors sans the Load More caveat should be fixed now!

[2016-08-15 13:52] ntimo commented on #2
Hi there,

the load more button this does not work :( It just displays an `E`

[2016-08-16 05:30] chuushi commented on #2
I've made multiple fixes to the form.  Everything should work pretty well now!

Now I'm going to focus on making JS for the setup.php forms.

[2016-08-16 06:52] ntimo commented on #2
Now everything works thank you :)

[2016-08-16 07:59] chuushi commented on #2
Phew, that's awesome to hear :D

I've updated the project to make use of the setup.php page.  There's some documentation work to be done there, but it's usable for now.

[2016-08-16 08:02] chuushi commented on #2
Feel free to open up another pull request if anything else goes wrong!  I'll go ahead and pull the changes to the main branch after I add some documentation soon!

Thank you so much for working with me throughout so far. :)

[2016-08-16 08:02] #2 closed, assigned to chuushi

[2016-08-18 19:06] ntimo opened #6 "How to only search for signs"
Hi there,
I was just reading the new realse notes witch sound really amazing. And was trying to test out the new system of displaying the text of a sign? But how do I only search for a sign? And how do I then get the text displayed.

Thx
Timo

[2016-08-18 20:56] chuushi commented on #6
You can search for `minecraft:standing_sign` or `minecraft:wall_sign` to get the lookup information for signs.  This was always a feature (since I don't remember when...), but it recently just added the sign texture from the game.

On all non-empty sign results, there will be a little arrow on the block column.  You can just click that, and the table will expand to show the results with signs.

![

[2016-08-19 14:37] #6 closed, assigned to nobody

[2016-08-23 16:16] NoHoPeLess opened #7 "Moment Calendar Bug"
Hello :D so for now i found 1 bug with the calendar, when the locale is changed the calendar is without fuctions and seems to be broken, every date i pick results in:

`E  The request did not go through properly.
-   42000   1064    Error You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'date AND (action IN (0,1))

[2016-08-23 16:26] ntimo commented on #7
Iam looking forward too it :)

[2016-08-23 22:53] chuushi commented on #7
Speaking of Locale, do you think it would make sense to make the entire lookup form and table column headers translatable?

[2016-08-24 03:20] chuushi commented on #7
What you needed to do was modify this part of the code: https://github.com/SimonOrJ/CoreProtect-Lookup-Web-Interface/blob/master/web/res/js/lookup.js#L71

[code]

It would look like that in your case.

This is available right now for people who used `git` to get the project.  I'll pack an update and upload the package soon.  It'll come with a locale option in `config.json`. :)

[2016-08-25 02:57] chuushi commented on #7
The latest release should come with a one-step option to change the locale in `config.json` file.  Give that a try, and please tell us how it goes. :)

... I forgot to implement that setting in `setup.php` file... so it'll only be available by directly changing the configuration file using a text editor for now.

[2016-08-25 14:30] NoHoPeLess commented on #7
yeah not the problem i use notepad++ thank you for this enchant! its amazing thanks! greetz from germany ;)

[2016-08-25 14:30] #7 closed, assigned to chuushi

[2016-08-26 05:50] ntimo opened #8 "Hosting a second demo?"
Hi there,
I would be happy to host a second demo if you want.

Thank you,
Timo

[2016-08-26 05:59] ntimo commented on #7
What do I have to add to get the german format? de-DE?

[2016-08-26 06:10] ntimo opened #9 "How to change the language and time format to german?"
Hi there,
I just wanted to ask how I can change the language and time format to german?

Thank you,
Timo

[2016-08-26 06:12] ntimo commented on #3
Do you have any news about the Milestone for version 1.0?

[2016-08-26 12:50] NoHoPeLess commented on #9
Hello,

For the time format:
 its easy :D download the new 0.9.3 https://dev.bukkit.org/bukkit-plugins/coreprotect-lwi/files/9-v0-9-3/ and change in the config.json en-US to "de"

`{
    "form": {
        "locale": "de",
        "dateFormat": "ll",
        "timeFormat": "LTS",
        "timeDividor": 300,
        "pageInterval": 25
    }
}`

For the whole interface:
You need to translate it for you

[2016-08-26 16:02] chuushi commented on #3
It'll probably take a long time until it gets started or made.

Also, I don't think I can code the 2 factor authentication into the project.  It took me long enough to try to research how to make a more secure way to log people in.

All the login code stuff is stored in [this file](https://github.com/SimonOrJ/CoreProtect-Lookup-Web-Interface/blob/master/web/res/php/login.php).  It would really hel

[2016-08-26 16:08] chuushi commented on #8
The demo has data donated by the admins of two separate servers.  If you want your server to be included there, feel free to shoot me an email.  My email is in my profile.

If you want to run it in your server and demo a different language, you can include the link to there in the email.

~Simon

[2016-08-26 18:37] ntimo commented on #8
I mailed you, if you like we can discuss the details via email?

Timo

[2016-08-26 23:06] JoeNorth commented on #3
There are plenty of PHP libraries out there for 2fa and for user authentication. I'd be more apt to use one of those than to use something rolled on your own simply for security's sake. I'll see if I can't give it a go and get 2fa working.

[2016-09-13 01:30] #8 closed, assigned to nobody

[2016-09-15 22:02] chuushi commented on #9
Would it save anyone's lives if the plugin had full localization support?  I'm considering it, but I'm not sure if it would be worth the time.

It's not hard to add, but it's going to require replacing a lot of things with a variable and echoing everything using PHP.

[2016-09-15 22:05] ntimo commented on #9
@SimonOrJ Sure that would be amazing.

[2016-09-15 22:05] chuushi commented on #3
How did it go (if you got it working in a way)?

[2016-10-12 08:49] ntimo commented on #9
@SimonOrJ do you have any news for us? :)

[2016-10-13 12:50] TomLewis opened #10 "[request] Search Containers by Lolcation/World & Items by keyword"
1. Allow us to put in the TPPOS of a container to search for a specific container
2. Allow us to use keywords to search the container for block/item

[2016-10-13 18:11] chuushi commented on #9
Sorry, I've been busy with school and my own things to work on this.  I can't promise when I can get back into coding this, but I'll do it eventually.

[2016-10-19 21:08] ntimo commented on #9
I hope you will. I love the project :)

[2016-11-04 07:31] ntimo commented on #9
@SimonOrJ do you have any news to share?

[2016-11-05 01:50] chuushi commented on #9
I'm crumblijg down into pieces from all the school work I have to do this semester...

[2016-11-05 01:51] chuushi commented on #9
I will definitely post something here when I can get to it.
Or someone else can do it and PR the code.  I'm under some stress as of now.

[2016-12-20 03:00] chuushi opened #11 "Better Server List and Configuraion Management"
Selecting the server using file name is bloatful for the URL.  In addition, making JSON and PHP configuration separately is pretty annoying.

[2017-01-11 06:24] chuushi commented on #9
I've started rewriting a lot of the backend code.  I will get to this when I get to the front-end eventually!

You can follow the progress on the v1.10.0-SNAPSHOT branch

[2017-02-02 11:05] wioxjk opened #13 "Giving 777 permission to cache folder is unnecessary and dangerous"
Giving a folder or file 777 permission is not recommended in any case.
A more suitable permission would setting permission to 744 and change the owner to the correct user the webserver runs as.

Verified that it is working:
https://mc.selea.se/lookup

[2017-02-03 15:40] chuushi commented on #13
Yeah, you are correct; that isn't necessary.  The guide was written before I knew more about Linux permissions.
Directory permission of 744 or 774 suffices when the owner is webserver (`www-data:www-data`) or if the webserver is in the group.  In fact, my setup is exactly that.

If you'd like, you can PR updates on the `README.md`.  Else, I will update it as version 1.0.0 comes around completion.

[2017-02-03 16:20] wioxjk commented on #13
Alright!
774 permission is actually  unnecessary also, 744 is enough! :)
Looking forward to 1.0.0! Already had good use of this tool, even thou I did'nt manage to get setup.php to work (don't know what's wrong thou).

[2017-02-03 16:35] wioxjk opened #14 "Remove information regarding PHP"
Openly showing which PHP version a site is running does actually help "bad guys" more than it helps the good ones.
I suggest that this information is removed.

"This webserver is running PHP 5.5.9-1ubuntu4.19."

[2017-02-03 21:01] chuushi commented on #14
The site is intended to be visited only by moderators.  I left that there to make submitting bug reports easier.

Anyway, I'll do something about that.  Regardless, people should be using the latest version of PHP whenever possible.

[2017-04-11 15:01] Dyllaann opened #15 "Exclusive Filter for Keyword Search"
Hey.

I was wondering if there was a way to implement a filter for results?
I don't want /login and /register commands showing up in the logs.

[2017-04-11 17:19] chuushi commented on #15
I can look into it when I have more free time.  It's definitely something I will want to add.

[2017-05-25 18:19] PenguinNexus opened #16 "External Database Login"
Hey there,

Is there any way to use an External Database to set up login information? Need to be able to limit it to usergroup ID as well, so only game admins can access it.

Kind Regards,
Penguin

[2017-05-25 19:02] chuushi commented on #16
I'll be working on this project as soon as I'm done with my finals (next week).  I've been very busy with classes this semester, so I couldn't work on this as much for past few months.

I am looking into adding OAuth2 (Google, GitHub, etc) login as requested in issue #3.  If you're looking into specific login database, please tell me more!

~Simon

[2017-07-01 19:53] Dyllaann commented on #15
Found a hardcode way to do this myself.

/res/js/lookup.js : line 485

[code]

Copy and paste my line 486 and paste it in between the for loop and comment.

[2017-07-02 00:26] chuushi commented on #15
I might code it in the PHP backend rather than after getting the data.  I'll most likely do it this month.

[2018-04-15 01:33] iTzEthqnHD opened #17 "Error 5: CoreProtect too old. Update to v2.11 or above."
im getting a "Error 5: CoreProtect too old. Update to v2.11 or above." but my core protect is a new version. Does this need to be updated?

[2018-04-15 15:36] iTzEthqnHD commented on #17
bump?

[2018-04-17 17:39] chuushi commented on #17
I haven't any time to update the code in a while...  It's not tested with latest version yet.
This project's on my backlog right now as I'm in school right now.

Basically, the code needs updating and rewriting to work with latest version of CoreProtect. :I

[2018-04-17 17:59] iTzEthqnHD commented on #17
Ok, do you have a clue of when you might be able to update it? Thank you for your time!

[2018-04-19 07:09] chuushi commented on #17
I honestly have no clue.  All I can do is try and find time and motivation after this semester's over.

[2018-07-26 13:37] TomLewis opened #18 "There was a massive CoreProtect update for 1.13"
The only way I use CoreProtect is via this amazing webUI, There is no alternative for quickly searching for information from a webUI, will you be updating for the new 1.13? please.

[2018-07-27 16:13] chuushi commented on #18
I hope to come back to this, but I don't recognize the code I wrote two years ago 😐

I'll try working on it next month, but I can't make any guarantees yet.

[2018-08-09 13:34] snarfattack opened #19 "World filter doesn't work with Coords filter"
[code]

If evaluation will always resolve to false since $coord does not exist, the code should be:

[code]

[2018-08-09 13:41] snarfattack commented on #18
So far, I'm able to search against 1.13 database, but I've only done basic searches as I just found this. What's broken?

[2018-08-11 09:00] chuushi commented on #18
AFAIK I haven't added proper support for detecting player deaths, which was added to CoreProtect sometime after the latest beta of this was released.  That's the only missing feature I can think of.

[2019-03-13 19:06] chuushi opened #20 "Refactor and Rewrite the system"
Many years ago, I wrote this software in order to aid in my server's staff team look through CoreProtect logs without the need to paginate through the logs in the chat.  As time went by and the updates came across, I've lost track of what each part of code does because the core file of the project `conn.php` wasn't modulated at all.

* [x] Modulate `conn.php`
  * [x] Add new modules
* [x] Redo the

[2020-01-15 13:40] justinbea opened #21 "Error You have an error in your SQL syntax"
fixed

[2020-01-15 16:32] #21 closed, assigned to nobody

[2020-05-07 19:48] chuushi commented on #18
I've done a whole lot of rewriting for this project.  For now, I'll have to drop support for older versions of CoreProtect.

I will test and support older versions them once I get the code working for the latest version.

Sorry it took so long before I came back to this!

[2020-05-07 19:50] chuushi commented on #19
I have since rewritten the code to handle them separately.  The world and coords filters should be independent of each other in the latest version!

[2020-05-15 10:01] T-x-T opened #23 "Demo link dead"
Is there still a demo around? The link in readme.md is broken and leads to a site thats under construction

[2020-05-17 19:46] chuushi commented on #23
Hai!  The demo went down a while ago and isn't around yet.  Also, I'm working on rewriting the entire interface and am about to make a pre-release version of it.  I will put up another demo once the pre-release is ready!

[2020-05-17 19:53] T-x-T commented on #23
Sounds awesome! Really looking forward as your tool sounds pretty cool

[2020-05-18 07:00] chuushi commented on #23
The update is posted.  I hope that comes in handy!
I will set up another demo in the coming days or weeks. ^^

[2020-05-18 07:08] chuushi commented on #10
Hai FrozenBeard, you can now search the containers by world location.  The instructions may not be trivial, but you can:

- Set a coordinate for the container (if just that single container, use "Center" and radius of 0)
- Choose actions of `-Container` and `+container`
- Search specific items by using "Materials" field

The lookup may take a long time (my random test took 40 seconds only to find

[2020-05-18 07:08] #10 closed, assigned to chuushi

[2020-05-18 07:10] chuushi commented on #11
Done with new configuration setup (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:10] #11 closed, assigned to chuushi

[2020-05-18 07:11] chuushi commented on #14
The web app no longer gives PHP information.  Thanks for the issue! (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:11] #14 closed, assigned to chuushi

[2020-05-18 07:12] chuushi commented on #13
I removed the cache implementation.  I don't know if cache will be necessary at all, but if anyone thinks otherwise, I guess I can come back to it.  Thank you for the issue! (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:12] #13 closed, assigned to chuushi

[2020-05-18 07:14] chuushi commented on #15
I'll look into implementing this at pre3 or pre4, which should come in the coming weeks!

[2020-05-18 07:15] chuushi commented on #16
Hi @PenguinNexus!  If you're still looking into this, which external database were you referring to for the logins?

[2020-05-18 07:16] chuushi commented on #17
The code is updated, and the error you mentioned should not come up anymore (Provided you're using CoreProtect version 2.12.0 or above).  Thank you for the issue!  (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:16] #17 closed, assigned to chuushi

[2020-05-18 07:17] chuushi commented on #18
The app now works with the latest version of CoreProtect.  Thank you for the issue!  (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:17] #18 closed, assigned to chuushi

[2020-05-18 07:18] chuushi commented on #19
Coordinates and worlds now gets looked up independently of each other.  Thank you for the issue! (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:18] #19 closed, assigned to chuushi

[2020-05-18 07:19] chuushi commented on #20
Done! Optional perks may be worked on in the long term.  (Commit at close: e5b36f36d79bfcea6891ca0b2f95266ead01b0fd)

[2020-05-18 07:19] #20 closed, assigned to chuushi

[2020-05-18 07:20] chuushi commented on #3
2FA is definitely on my to-do list now.  I don't think I understood what 2FA meant 4 years ago, lol.  Sorry for the troubles back then!

[2020-05-18 10:25] Fargus-Van-Crystal-de-Mindark opened #25 "Login error"
Good Morning, there is an error when that don't let u login .

SyntaxError: Unexpected token < in JSON at position 4

I digit the username and password and when I confirm I have this error

[2020-05-18 15:27] brotherxaos commented on #16
Hi @chuushi I'm not that guy, but I saw your post on reddit, and have this installed now, and thought I had all the information in the config.php file for my external mysql database, but it gives an error when I try to do a lookup. Is there a way to check the more detailed error message? That all assumes that I can connect to the remote DB using this tool in the first place. :)

[2020-05-18 22:04] chuushi commented on #25
Good morning!

Looks like there's a PHP error.  Try:

- Open to the CoreProtect page
- press [F12] to open the developer console
- go to the 'networking' tab
![image](https://user-images.githubusercontent.com/13530989/82263549-287dc600-9931-11ea-8cda-bd1196179726.png)
- then try logging in
- after that, go to the 'response' tab and copy-paste the contents within there.
![image](https://user-images

[2020-05-18 22:08] chuushi commented on #16
Hi @brotherxaos!  Please make a new issue regarding it since this issue doesn't relate to error messages.  Please show me the error message, and if it gives a JSON error, follow the instructions I laid out in #25 for now to check the specifics of the error.

[2020-05-18 22:11] Fargus-Van-Crystal-de-Mindark commented on #25
I've this one:

` <svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>`

[2020-05-18 22:13] Fargus-Van-Crystal-de-Mindark commented on #25
And this one:

`<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/F9CD80F3-B79B-49AB-AD16-6F61BFFFC81B/netdefender/alert/images/bdicon.ico" type="image/x-icon" />
    <title>Protection Web par Bitdefender</title>
    <link rel="stylesheet" href="/F9CD80F3-B79B-49AB-AD16-6F

[2020-05-18 22:14] Fargus-Van-Crystal-de-Mindark commented on #25
If u cannot understand from all of this... the code is horrible here....
I give you the link

[http://survivalla.fun/coreprotect/](url)

[2020-05-19 00:14] chuushi commented on #25
![image](https://user-images.githubusercontent.com/13530989/82270815-fd50a200-9943-11ea-9af2-c954ad2fb6ac.png)

Can you try copy-pasting the contents of this instead?  Those look like the text you provided are from another website or browser extension.

I don't know what the credentials are, so I can't say for sure.  The login seems to fail successfully, though.

![image](https://user-images.githu

[2020-05-19 00:17] Fargus-Van-Crystal-de-Mindark commented on #25
http://survivalla.fun/coreprotect/

username: Fargus
Password: 123456

[2020-05-19 00:22] chuushi commented on #25
I logged in successfully.

What browser and extensions are you using? It's possible that your browser is erroring something on your side.  Maybe because you're trying to send the password over non-secure protocol (HTTP)?

[2020-05-19 00:23] Fargus-Van-Crystal-de-Mindark commented on #25
Yes, maybe is the antivirus
I try disabling it in these page.

[2020-05-19 00:25] Fargus-Van-Crystal-de-Mindark commented on #25
Yes it was this. I needed to disable a security block that the Antivirus gave to me as a "dangerous attack to my personal life"

-_-

[2020-05-19 00:27] chuushi commented on #25
I'd suggest you look into setting up HTTPS on your webserver.  If you're self-hosting the webserver, look up how to set up LetsEncrypt in your free time. ^^
In any case, I'm glad to be of help to ya.  Let me know if you have any other issues, or feel free to close the issue.   Thanks for the issue!

[2020-05-19 00:28] Fargus-Van-Crystal-de-Mindark commented on #25
Thanks you 👍

[2020-05-19 00:28] #25 closed, assigned to nobody

[2020-05-23 07:12] ablac opened #26 "Seach Functions dont work? [MySQL]"
When using the web interface, If i select just an Action, it shows up with the information requested, but if I select a user it says "An Unknown Error Occurred" It does this for Coordinates, Radius, Worlds, Users, Materials, entities,  Date/Time, and even Limit... So basically the entire website is useless unless i want just a massive flood of data in the map.

[2020-05-23 08:20] thunderlight411 commented on #26
same behavior as in https://www.spigotmc.org/threads/coreprotect-lookup-web-interface.173574/#post-3811046

[2020-05-23 08:26] ablac commented on #26
Yes same Behavior, Willing to allow testing with my site as well https://angel-gaming.com/bans

Secondly I'm running MariaDB 10.3.17-MariaDB MariaDB Server
Core Protect Versions 2.18.2

[2020-05-24 05:56] chuushi commented on #26
I'll start looking into it next week.  I believe it has to do with the old versions of MySQL/MariaDB server not understanding the query.

Until then, if you can, try updating to the latest MySQL server version.

[2020-05-24 06:10] ablac commented on #26
@chuushi Thats very interesting, So i downloaded the new MariaDB Repo, and Yum Updated to the newest version, and its working now, so your 100% correct it is the older version, 10.4 works perfectly.

[2020-05-24 17:37] TomLewis commented on #10
Dope, im still using CoreProtect 2.14.4 on Paper 1.12.2 using MySQL storage, Will this work if I update the web UI?

[2020-05-30 15:18] jimender2 opened #27 "Multiuser Access"
Right now there are two users. Admin and User. Is there a way to make it so that we can have more users since I want my staff to be able to use this program.

[2020-06-04 20:22] chuushi commented on #10
Yes, that should work!

[2020-06-10 20:53] 127p opened #28 "SyntaxError: Unexpected token < in JSON at position 0 (Possible webserver PHP misconfiguration)"
Hello,

When trying to make a search I receive the error:

`SyntaxError:` Unexpected token < in JSON at position 0 (Possible webserver PHP misconfiguration)

I'm using sqlite, the database is in the same folder than index.php so my config file looks like this:

[code]

I'm using XAMPP on my windows 10 computer to make the php server with the defaults settings, am I missing some configuration of ph

[2020-06-16 02:19] chuushi commented on #27
The multi-user feature is a planned feature.  I didn't want to expand on this yet because I don't want to over-complicate the password storage process, and I didn't want any potential for plaintext passwords to be leaked.

You can just have a single "user" account and share the user/password that you set to your moderation team instead.  From there, you can change the password in case of mod abuse

[2020-06-16 02:21] chuushi commented on #28
You might be missing some extensions.  Check [the prerequisites](https://github.com/chuushi/CoreProtect-Lookup-Web-Interface#prerequisites) and see if you have those modules enabled!

[2020-06-20 06:32] guimartino commented on #28
I'm facing the same issue, but using mysql
I did a double check and I have PDO_MYSQL installed on my webservice and all the connection info are correct

![image](https://user-images.githubusercontent.com/3578494/85195141-90179000-b2a6-11ea-82a2-848ec1386354.png)

At the same server I'm able to do PDO queries in the same Mysql server (using the same credentials)

What can be happening in this case?

[2020-06-22 06:20] cokeramirez commented on #28
![image](https://user-images.githubusercontent.com/7583931/85254623-ba945500-b42e-11ea-8b55-7f2dbc2b81cd.png)

We also have PDO activated and have the same issue, but we are using sqlite.

Is there any other setting I should check?

[2020-06-26 04:38] chuushi commented on #28
Huh, that is interesting.  I'd like to narrow down the variables and test it on a setup similar to your environment.  What version of PHP and webserver are you using?

[2020-06-26 06:20] 127p commented on #28
XAMPP 7.4.7 / PHP 7.4.7 Last version, Default install
https://www.apachefriends.org/es/index.html

[2020-09-11 13:32] TomLewis opened #30 "Updated from v0.9.3 to v1.0.0-pre2 and key words dont work."
Ahoy
Massive fan of the web UI, we use it daily for admin tasks!
One of the key features we use is looking up key words used in chat/commands, but this seems to not work at all in 1.0.0-pre2, is this environment based?

[2020-09-23 23:44] johenkel opened #31 "simple chat text search not possible ?"
When leaving Users blank and only adding a Keyword while enabling chat & commands, the search result list will show all chat.

Is is supposed to do that or is there a way to search for a keyword in chat/command ?

( current version : CoreProtect Lookup Web Interface v1.0.0-pre2  )

[2020-10-10 03:12] #28 closed, assigned to nobody

[2020-10-10 03:16] chuushi commented on #30
Hi, there certainly were a lot of updates to the program since v0.9.3. The search query was completely revamped, and that may have been causing people quite a lot of trouble searching the chats.

I will look through it the next time I can look into the program

[2020-10-13 09:44] TomLewis commented on #30
Thanks, I backdated to the old web UI for now so we can search for things.

[2020-10-28 07:45] TetraTheta opened #32 "unable to open database file"
I don't get this is bug or my fault.

![1](https://user-images.githubusercontent.com/37061801/97406273-5170a100-193c-11eb-8f5d-3d2ea32760cb.png)
I set up NGINX and PHP, PDO, PDO-SQLITE. PDO and PDO-SQLITE is enabled in `php.ini`. I think this would be enough to do.
But I tested this like this, I get this error message.

![2](https://user-images.githubusercontent.com/37061801/97406426-91378880-193c

[2020-11-11 05:45] ikuria commented on #26
pls fix that problem, because i cant update my mysql for that :(

[2020-11-25 07:02] fahlur commented on #26
I agree with ikuria. I cant update it either stuck with the one my host provides.
mysqlnd 5.0.12-dev

[2020-11-30 20:01] chuushi commented on #32
Hi, sorry about getting back at ya a month later ;;
It might be either a wrong file path or a permission issue. Can you check if the webserver or PHP has access to the database file? (use `ls -l` to see if www-data or similar has access to read the file)

[2020-11-30 20:02] chuushi commented on #31
Duplicate of #30

[2020-11-30 20:02] #31 closed, assigned to nobody

[2020-12-04 09:48] TetraTheta commented on #32
database's owner is `amp` and its group is `amp`.
the directory where CPLWI located is owned by `www-data` and it is under group `amp` and `www-data`.

I set the database(`database.db`)'s permission to `0777` which will allow all access to anyone.

Still cannot access database `14: SQLSTATE[HY000] [14] unable to open database file`.

Is there anything I need to do further?

[2020-12-12 06:33] TofaToP opened #33 "path sqlite | question"
Hello, I have a question. I have an external database, which path I need to specify in the "path" configuration

[2020-12-18 15:24] tomas-kucera commented on #33
Can you be more specific? Is the DB sitting on the same machine? What is the OS? Can you access the file from the web host using OS commands or do you need to do some kind of FTP?

[2020-12-18 15:29] tomas-kucera commented on #32
I had the same but did not dare to give 0777. I gave 0744 (rwxr--r--) to files and 0755 (rwxr-xr-x) to directories. This had resolved it.

But I guess that the best would be running MySQL server instead of the SQLite which would eliminate this issue.

[2020-12-18 15:32] tomas-kucera commented on #26
Can I suggest to change the subject of the issue to mysql: search functions do not work ?

This issue does not impact sqlite users.

Thanks!

[2020-12-18 15:40] tomas-kucera commented on #15
Somewhat related to this. I am using sqlite database (for the moment) and the keyword search seemed to be not working at all.

I had implemented it for the Chat Messages, Commands and Usernames. Can push or send details of the implementation.

I have some potential TODO:
- allow multiple keywords (for example | (pipe) or space separated)
- add Exclude switch to filter out the typed keywords

Inter

[2020-12-18 15:51] TetraTheta commented on #32
Well, I personally don't like running SQL server because whenever I delete previous world, with SQLite, all I have to do is just delete SQLite database file. But with MySQL, I have to login into MySQL database and delete table stuff which is kind of difficult.
Well, using MySQL would be much more performance efficient I guess but I don't like the idea of 'All-In-One Databases stuff' of MySQL. That

[2020-12-18 16:58] tomas-kucera commented on #32
It maybe easier than you think.

In the config.ymp for CoreProtect, there is this line:
mysql-database: database

Just give it a name of your new world. I would use some prefix, for example mccpw_ (Minecraft CoreProtect Wolrld). So in case you would be using the same instance of MySQL for some other things, you will be able to identify them visually.

Then when creating a new world, just rename th

[2020-12-18 17:24] TetraTheta commented on #32
Well, that's genious. Maybe I should try that when I start to 'use' CP. Currently it justs run with server, i'm not touching it...

Thanks for the nice info!

Still, the issue isn't solved so I will leave this issue opened. The way tomas suggested is workaround, not solution (even though It seems nice)

[2020-12-18 23:33] tomas-kucera commented on #32
Unfortunately, there is no other solution than either granting the process the privileges by using chmod or using the database.

CP is great, I like it. And this web interface too!

[2020-12-24 03:56] johncsuti opened #34 "problem with using it maybe im stupid"
I like the web interface but am having trouble using it. Maybe someone could help me do a single block lookup and replacement? Please...

[2021-01-08 20:28] djrranga opened #35 "HY000 (11): database disk image is malformed"
Occurs when making a query on the web interface. Database is SQLite and can be queried using the SQLite CLI. However, submitting any query to CoLWI returns this error.

[2021-01-15 22:15] IDeletedSystem64 opened #36 "Gateway time out caused by searching for some items"
Some items (like netherite_ingot) seem to cause the web interface to have a gateway time out then become completely non functional as well as have issues with connecting for a couple minutes at a time.
![image](https://user-images.githubusercontent.com/47640864/104783988-e7061a80-574c-11eb-9249-8360608d0228.png)

[2021-01-17 11:19] chuushi commented on #33
Hi, the `path` configuration is only for SQLite. The Minecraft server with `.db` file must be on the same server as the webserver to use the path option.

If you're using MySQL, you do not need to configure `path`, as this will be ignored.

Let me know if this clears it up. Thanks!

[2021-01-17 11:20] chuushi commented on #35
Hi Keno, does the `.db` file open properly for CoreProtect?

[2021-01-17 11:22] chuushi commented on #34
Please let us know how far you've gone with the [setup](/CoreProtect-Lookup-Web-Interface#setup) to assist better. There is a lot that could have gone wrong if you're unable to make any searches.

Also, do note that this is still incomplete, so yeah :v

[2021-01-17 11:23] chuushi commented on #36
Heya :eyes:
I did notice that the lookups can take awfully long, and fixing it will need some re-write of the code D:

[2021-01-17 17:39] djrranga commented on #35
Yep, CoreProtect is apparently able to read and write to the database file. I can also query it manually from the CLI.

[2021-01-20 04:17] johncsuti commented on #34
I would just like a detailed review of how to use it as i cant seem to properly i keep running into errors. Basically one issue is that you can't search by user. It just gives an error see below.
![include](https://user-images.githubusercontent.com/22971404/105126297-6b89cd80-5aac-11eb-8d0b-356d513f5a08.png)

[2021-03-07 12:59] KBelozerov opened #37 "0: could not find driver"
![LightCloud CoreProtect — Яндекс Браузер 07 03 2021 16_56_32](https://user-images.githubusercontent.com/74970619/110240578-16bfea80-7f66-11eb-958c-dfadd58549d7.png)

0: could not find driver

Папка с самим веб интерфейсом находиться по: /root/var/www/html
Папка с Базой данных находиться по: /root/server/plugins/CoreProtect/database.db',

[2021-03-09 09:58] TomLewis commented on #30
Was this ever solved? It's one of our most used features!

[2021-03-09 09:59] TomLewis opened #38 "Sign search"
Core protect has a whole sign table that can't be searched through the web ui, could we please get sign search as a category selection for search.

[2021-04-30 22:18] ExceptedPrism3 opened #39 "Database Path"
Hello, I'm having some hard time to find out how to make this addon to work.

I'm having the web addon on a webhost and the coreprotect on a server but both on same host company so idk if that counts as same as the same server as described.

I'm using the sqlite form of database saving, I'm tried to copy the url of the database folder but ended up in a error [ not able to open the file ].

I've ch

[2021-06-14 23:13] #16 closed, assigned to nobody

[2021-07-10 15:46] TomLewis commented on #30
Bump @chuushi

[2021-08-31 14:02] KMacArthur commented on #37
You will need to install the PHP sqlite driver to your server and enable it in php.ini.
I'm using Ubuntu Linux and followed this page to install PHP sqlite: https://www.getastra.com/kb/knowledgebase/how-to-install-sqlite-for-php-on-my-apache-nginx-server/

[2021-10-05 08:52] RehanPlayz opened #40 "I'm getting this error"
2005: SQLSTATE[HY000] [2005] Unknown MySQL server host '127.0.0.1:3306' (2)
[code]

[2021-10-05 08:52] RehanPlayz commented on #40
@chuushi

[2021-10-05 12:06] RehanPlayz commented on #40
Coreprotect was able to connect just fine but the web interface can't connect

[2021-10-05 12:08] RehanPlayz commented on #40
I tried connecting thorough: localhost, 127.0.0.1, <direct ip> and 0.0.0.0 (None of the works)

[2021-10-05 12:09] RehanPlayz commented on #40
The website is hosted on a different machine from the mc server so I used the direct IP in the coreprotect config to connect

[2021-11-06 14:50] #39 closed, assigned to nobody

[2022-01-23 04:25] dansleboby commented on #40
You will need to make an SSH tunnel to get access to the local mysql of copy the DB file on your local machine, you can also edit my.ini to allow it to bind outside the 127.0.0.1 but it a bit risky to open mysql to the WWW

[2022-03-18 00:18] argon000s opened #41 "CoreProtect v21 compatibility?"
I am unable to perform lookups on the database with the latest CoreProtect plugin (v21.1)
CoreProtect added new features to v21, so I think this may of broke something.

I get "Unknown error occured." and this json response while performing any lookups:
```[{"time":1647562270.447199,"flags":5,"status":-1,"duration":0.06136584281921387}]```

Could it be a sqlite3 error? The server is Apache on Debi

[2022-03-18 17:29] argon000s commented on #41
Upon further checking it seems to be a permission issue with apache - I needed to chmod the file path recursively so it could read the database file. It still puzzles me as to why it stopped working as it was working before - perhaps a recent update to the sqlite drivers in Debian or a configuration change caused this.

Perhaps you could include instructions in the readme to set permissions recurs

[2022-03-19 15:59] argon000s commented on #41
Ok I think i figured it out. The CoreProtect sqlite database prior to v21 has Journal mode set to none/delete but the latest version uses WAL for the journal. This means when lookup.php tries to access the database it tries to create a database.db-wal file in the same directory - hence the web server not having write permissions to that directory, throws an error.

Adding a read-only flag to the P

[2022-09-17 09:43] valenvaio opened #42 "2005: SQLSTATE[HY000] [2005] Unknown MySQL server host '192.168.2.201:3306' (0)"
Hello.
When I connect to BD, I get this error:

`2005: SQLSTATE[HY000] [2005] Unknown MySQL server host '192.168.2.201:3306' (0)`

The error is similar if you try to log in through the console with the address and port. As below:

[code]

As for this, everything works correctly:
[code]

I suspect the problem is related to changes in PDO or explicitly specifying a port. Maybe you need to fix someth